.container {
    display: flex;
    height: 50px;
    align-items: center;

    .cell {
        color: var(--color-white);
        margin-right: 10px;

        input {
            height: 30px;
            width: 80px;
            border: none;
            border-radius: 4px;
            padding: 0 4px;
            outline: 1px solid transparent;
        }

        ::ng-deep {
            .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
                background-color: #c2185b;
            }
        }
    }
}
