<div class="container"
    *ngIf="{hasSelectedRegion: eventBus.videHasSelectedRegion$ | async, tagged: eventBus.videSelectedRegionHasTagged$ | async} as state">
    <div class="cell">
        <label>
            Track ID:
            <input [disabled]="!state.tagged" type="number" [value]="eventBus.currentTrackId$ | async"
                (change)="trackIdChange($event)" />
        </label>
    </div>
    <div class="cell">
        <button [disabled]="!state.hasSelectedRegion" mat-stroked-button color="primary" title="First Key Frame"
            (click)="changeFrame('first')">
            <svg>
                <use xlink:href="#double-left-arrow"></use>
            </svg>
        </button>
    </div>

    <div class="cell">
        <button [disabled]="!state.hasSelectedRegion" mat-stroked-button color="primary" title="Previous Key Frame" (click)="changeFrame('previous')">
            <svg>
                <use xlink:href="#single-left-arrow"></use>
            </svg>
        </button>
    </div>

    <div class="cell">
        <button [disabled]="!state.hasSelectedRegion" mat-stroked-button color="primary" title="Next Key Frame" (click)="changeFrame('next')">
            <svg class="right">
                <use xlink:href="#single-left-arrow"></use>
            </svg>
        </button>
    </div>

    <div class="cell">
        <button [disabled]="!state.hasSelectedRegion" mat-stroked-button color="primary" title="Last Key Frame" (click)="changeFrame('last')">
            <svg class="right">
                <use xlink:href="#double-left-arrow"></use>
            </svg>
        </button>
    </div>

    <ng-container>
        <div *ngFor="let label of eventBus.labelUpdateEvent$ | async" class="cell">
            <button [disabled]="!state.hasSelectedRegion" (click)="toggleTag(label.name)" mat-raised-button [style.background-color]="label.color">
                {{ label.name }}
            </button>
        </div>
    </ng-container>

    <div class="cell">
        <label>
            Search:
            <input #search type="number" [value]="eventBus.currentTrackId$ | async" />
        </label>
    </div>
    <div class="cell">
        <button mat-raised-button color="primary" (click)="searchRegion(search.value)">
            Search
        </button>
    </div>
    <div class="cell">
        <button [disabled]="!state.hasSelectedRegion" mat-raised-button color="warn" (click)="deleteAll(search.value)">
            Delete All
        </button>
    </div>
    <div class="cell">
        <button [disabled]="!state.hasSelectedRegion" mat-raised-button color="primary" (click)="queryFace()">
            Query Face
        </button>
    </div>
</div>