.container {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0 10px;
    background-color: var(--color-gray-f1);

    button,
    input {
        &:disabled {
            cursor: not-allowed;
        }
    }

    .cell {
        margin-right: 10px;
        font-weight: 600;

        .primary {
            background-color: var(--color-blue);
            color: var(--color-white);

            &:disabled {
                opacity: 0.5;
            }
        }

        .secondary {
            background-color: var(--color-gray-6);
            color: var(--color-white);

            &:disabled {
                opacity: 0.5;
            }

            &.frame-control {
                width: 80px;
                padding: 0 4px;
            }
        }

        svg {
            height: 26px;
            width: 26px;
            fill: var(--color-light-gray);

            &:hover {
                fill: var(--color-gray);
            }

            &.right {
                transform: rotate(180deg);
            }
        }

        input {
            height: 34px;
            width: 80px;
            border: none;
            border-radius: 4px;
            padding: 0 4px;
            outline: 1px solid transparent;
            font-size: 16px;
        }

        ::ng-deep {
            .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
                background-color: #c2185b;
            }
        }
    }
}
