<footer>
    <div class="left">
        <div class="text">Simple Rate: <span class="value">50</span></div>
        <div class="text">
            Step Length: <span class="value">{{ stepLegth }}</span>
        </div>
    </div>
    <div class="right">
        <ng-container *ngIf="info | async as _">
            <!-- <div class="text">
                Total Frames:
                <span class="value">{{ _.totalFrames }}</span>
            </div>
            <div class="text">
                Total Regions:
                <span class="value">{{ _.totalRegions }}</span>
            </div> -->
            <div class="text">
                Max Track ID: <span class="value">{{ _.maxTrackId }}</span>
            </div>
        </ng-container>
    </div>
</footer>
