<footer>
    <ng-container *ngIf="currentRoute === 'video'">
        <div class="left">
            <div class="text">
                Simple Rate: <span class="value">{{ event.frameRateUpdate$ | async }}</span>
            </div>
            <div class="text">
                Step Length: <span class="value">{{ stepLegth }}</span>
            </div>
        </div>
        <div class="right">
            <ng-container *ngIf="info | async as _">
                <!-- <div class="text">
                    Total Frames:
                    <span class="value">{{ _.totalFrames }}</span>
                </div>
                <div class="text">
                    Total Regions:
                    <span class="value">{{ _.totalRegions }}</span>
                </div> -->
                <div class="text">
                    Max Track ID: <span class="value">{{ _.maxTrackId }}</span>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="currentRoute === 'picture'">
        <div class="left">
            <div class="text">
                <svg>
                    <use href="#folder"></use>
                </svg>
                {{ event.picturePath$ | async }}
            </div>
        </div>
        <div class="right">
            <div class="text">{{ event.picturePageInstance$ | async }}</div>
            <div *ngIf="event.pictureUntagState$ | async" class="text clickable" (click)="goToFirstUntagPicture()" matTooltip="Has Untaged Region">
                <svg>
                    <use href="#tag"></use>
                </svg>
            </div>
        </div>
    </ng-container>
</footer>
