footer {
    height: 26px;
    padding: 0 10px;
    color: var(--color-white);
    background-color: var(--color-blue);

    display: flex;

    justify-content: flex-end;
    align-items: center;

    .left {
        flex: 1;
        height: 26px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .right {
        flex: 1;
        height: 26px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .text {
        font-size: 12px;
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            height: 16px;
            width: 16px;
            fill: var(--color-white);
            stroke: var(--color-white);
            margin-right: 4px;
        }

        &.clickable {
            cursor: pointer;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }

        .value {
            font-size-adjust: 14px;
        }
    }
}
