:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    font-size: 20px;
    color: var(--color-gray-01);
    margin-bottom: 15px;
}

.content {
    flex: 1;
}

footer {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;

    button {
        width: 92px;
        margin-left: 10px;
        height: 34px;
        border: 1px solid transparent;
        border-radius: 4px;
        color: var(--color-white);
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }

        &.confirm {
            background-color: var(--color-blue);
        }

        &.cancel {
            background-color: var(--color-gray-8);
        }
    }
}
