<div #container id="container" class="container">
    <div class="video-container">
        <div class="video-inner" #videoContainer>
            <video #video id="video" [width]="width | async" [src]="filePath">
            </video>
            <div id="editorDiv"></div>
        </div>
        <div *ngIf="false" class="big-play" (click)="startPlay()">
            <svg>
                <use xlink:href="#play"></use>
            </svg>
        </div>

    </div>
    <div class="control">
        <div class="control-btn">
            <svg *ngIf="!isPlaying" (click)="startPlay()">
                <use xlink:href="#play"></use>
            </svg>
            <svg *ngIf="isPlaying" (click)="pasue()">
                <use xlink:href="#pause"></use>
            </svg>
        </div>
        <div class="progress-bar">
            <mat-slider class="bar" (change)="progressChange($event)" [value]="progressValue | async" tickInterval="1000"
                min="0" [max]="progressMaxValue">
            </mat-slider>
        </div>

        <div class="volume-container">
            <svg *ngIf="!isMuted" (click)="mute()">
                <use xlink:href="#volume"></use>
            </svg>
            <svg *ngIf="isMuted" (click)="unmute()">
                <use xlink:href="#volume-off"></use>
            </svg>
            <div class="volume-control">
                <mat-slider (input)="volumeChange($event)" thumbLabel [displayWith]="volumeFormatLabel"
                    tickInterval="10000" min="0" max="100">
                </mat-slider>
            </div>
        </div>
    </div>
</div>
