:host {
    display: flex;
    height: 100%;
    width: 100%;
}

.container {
    flex: 1;
    width: 100%;
    max-height: calc(100vh - 76px);
    background-color: var(--color-gray-f1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .video-container {
        background-color: var(--color-gray-e);
        position: relative;
        padding: 0;
        margin-bottom: -6px;

        #new-canvas,
        #post-canvas {
            position: absolute;
            z-index: -1;
        }

        .video-inner {
            position: relative;

            #editorDiv {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                height: 100% !important;
                width: 100% !important;
            }
        }

        .big-play {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 40px;
            width: 40px;
            cursor: pointer;

            svg {
                height: 40px;
                width: 40px;
                fill: var(--color-blue);
            }
        }
    }

    .control {
        height: 34px;
        background-color: var(--color-gray-a);
        display: flex;
        align-items: center;
        padding: 2px 14px;
        display: flex;
        width: calc(100% - 28px);
        z-index: 2;

        .progress-bar {
            flex: 1;
            overflow: hidden;
            padding: 0 4px;

            .bar {
                width: 100%;
            }
        }

        .video-time{
            margin-left: 10px;
        }

        .control-btn {
            height: 16px;
            width: 16px;
        }

        svg {
            height: 16px;
            width: 16px;
            fill: var(--color-white);
        }

        .volume-control {
            width: 0;
            transition: all 0.5s;
            opacity: 0;
        }

        .volume-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .volume-container:hover > .volume-control {
            width: 120px;
            opacity: 1;
        }
    }
}
