:host {
    display: flex;
    flex: 1;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;

    .title {
        text-align: center;
    }

    .content {
        flex: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;

        .field {
            width: 100%;
        }
    }
}
