<div class="container">
    <div class="menu">
        <div class="cell" (click)="import.click()">
            <svg>
                <use xlink:href="#import"></use>
            </svg>
            <input
                #import
                class="import"
                type="file"
                (change)="selectVideo($event)"
                accept="video/mp4"
            />
        </div>
        <div class="cell" (click)="saveFile()">
            <svg>
                <use xlink:href="#save"></use>
            </svg>
        </div>
        <div class="cell export" (click)="exportFile()">
            <svg>
                <use xlink:href="#export"></use>
            </svg>
        </div>
    </div>
    <div class="settings" (click)="openDialog()">
        <svg>
            <use xlink:href="#settings"></use>
        </svg>
    </div>
</div>
