.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .cell {
        cursor: pointer;
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
            svg {
                fill: var(--color-white);
            }
        }
    }

    svg {
        height: 26px;
        width: 26px;
        fill: var(--color-gray-6);

        &:hover {
            fill: var(--color-white);
        }
    }

    .export {
        svg {
            height: 30px;
            width: 30px;
        }
    }
    .menu {
        flex: 1;
    }

    .settings {
        cursor: pointer;
        height: 240px;
        width: 60px;
        text-align: center;
        padding-top: 10px;

        .import {
            height: 0;
            width: 0;
            visibility: hidden;
            background-color: transparent;
        }
    }
}
