:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}
 
.inner {
    display: flex;
    flex: 1;

    .video-container {
        flex: 1;
        display: flex;
        flex-direction: column;

        .video {
            flex: 1;
        }
        // .footer {
        //     height: 100px;
        // }
    }

    .review-container {
        z-index: 3;
        width: 300px;
        background-color: var(--color-gray-c);
        position: relative;
        height: 100%;
        overflow: hidden;
    }
}
