<div class="container">
    <div class="title">
        <div [class.active]="type === 'query'" (click)="toggleView('query')">
            Query Face Result
        </div>
        <div [class.active]="type === 'view'" (click)="toggleView('view')">
            View Face Result
        </div>
    </div>
    <div class="content">
        <ng-container *ngIf="type === 'query'">
            <div class="list">
                <div
                    *ngFor="let face of bus.queryFaceList$ | async"
                    class="face"
                    (click)="chooseFace(face)"
                >
                    <img [src]="face.path" alt="" />
                    <div class="face-info">
                        {{ (face.similaritydegree * 100).toFixed(2) }}%
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="type === 'view'">
            <div class="list">
                <div
                    *ngFor="let face of bus.viewFaceList$ | async"
                    class="face view"
                    [style.border-color]="face.tag.color"
                >
                    <img [src]="face.path" alt="" />
                    <div class="face-info">
                        {{ (face.similaritydegree * 100).toFixed(2) }}%
                    </div>
                    <div [style.background]="face.tag.color" class="track-Id">
                        {{ face.trackId }}
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
