:host {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-white);

    .title {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        box-shadow: 0px 3px 5px #ccc;

        div {
            height: 40px;
            line-height: 40px;
            text-align: center;
            flex: 1;
            transition: all 0.5s;
            cursor: pointer;

            &.active {
                background-color: var(--color-purpole);
                color: var(--color-white);
            }

            &:hover {
                background-color: var(--color-purpole);
                color: var(--color-white);
            }
        }
    }

    .content {
        padding: 10px;
        overflow: auto;
        height: calc(100% - 58px);
        background-color: var(--color-gray-c);

        .list {
            .face {
                cursor: pointer;
                display: inline-block;
                text-align: center;
                background-color: var(--color-white);
                margin: 6px 4px;
                transition: all 0.5s;

                &:hover {
                    box-shadow: 0px 3px 5px var(--color-gray-a);
                    transform: translateY(-4px);
                }

                img {
                    width: 120px;
                }
            }
        }
    }
}
