.container {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin-top: -20px;

    .nav-bar {
        width: 60px;
        background-color: var(--color-gray-51);
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;

        header {
            background-color: var(--color-gray-d);
            height: 50px;
        }
    }
}
