.container {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;

    .nav-bar {
        width: 60px;
        background-color: var(--color-gray);
    }

    .content {
        flex: 1;
        display: flex;
        flex-direction: column;

        header {
            background-color: var(--color-gray);
            height: 50px;
        }

        .video-container {
            flex: 1;
        }
    }
}
