/* You can add global styles to this file, and also import other style files */

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-blue: #1683fb;
    --color-gray: #272a27;
    --color-light-gray: #414954;
    --color-yellow: #ffdf22;
    --color-gray-f1: #f1f1f1;
    --color-gray-a: #aaa;
    --color-gray-c: #ccc;
    --color-gray-d: #ddd;
    --color-gray-e: #eee;
    --color-gray-51: rgb(51, 51, 51);
    --color-warn: #f44336;
    --color-purpole: #673ab7;
}

body,
html {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.CanvasToolsEditor {
    padding: 0 !important;
    height: 100% !important;

    canvas {
        background-color: transparent !important;
    }
}
